body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

header, footer {
    width: 100%;
    background-color: #003366; /* Azul oscuro */
    color: #FFC0CB; /* Rosa pastel */
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

footer p {
    margin: 0;
}

.converter {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.converter input[type="number"],
.converter select,
.converter button,
.converter input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.converter input[type="text"] {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

